hs_err_pid*
target/
build/
.gradle/
.DS_Store
*.class
*.hprof
*.ctxt
*.dump
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
build/
release/
target/
.flattened-pom.xml
.ignore
.kotlin/
.build*.timestamp
local.properties
heapdump*
heapdump*.hwcache/

.idea/**/workspace.xml
.idea/**/usage.statistics.xml
.idea/**/shelf/
*.iml

